<!DOCTYPE html>
<html lang="pt">

<head>
    <h1>Eu Indico</h1>
    <title>Buscador de Prestadores de Serviço</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <title>Buscador de Prestadores de Serviço</title>
  <form method="POST" action="do_logout">
    <h1>Buscador de Prestadores de Serviço</h1>
  <div class="container">
    <h2>{{usuario}}, tem certeza de que deseja sair ?</h2>
  </div> 
  <input type="submit" name="Sim" value="Sim"><br><br>
  <input type="submit" name="Nao" value="Não"><br><br>
</form>
</body>

</html>